@import url('https://fonts.googleapis.com/css?family=Catamaran');

@keyframes move {
  0% {
		-webkit-transform: translate(-10px, -10px);
		transform: translate(-10px, -10px);
	}
  25% {
		-webkit-transform: translate(10px, 10px);
		transform: translate(10px, 10px);
	}
  50% {
		-webkit-transform: translate(-10px, 10px);
		transform: translate(-10px, 10px);
	}
  75% {
		-webkit-transform: translate(10px, -10px);
		transform: translate(10px, -10px);
	}
  100% {
		-webkit-transform: translate(-10px, -10px);
		transform: translate(-10px, -10px);
	}
}

body {
	font-family: 'Catamaran', sans-serif;
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
	background-color: #275ed9;
	height: auto;
	width: 100%;
	font-size: 16px;
	letter-spacing: 0.4px;
	margin: 0;
	padding: 0;
}

main {
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
	width: 100%;
}

h1 {
	font-size: 8em;
	color: #1F1F1F;
  margin: 0;
}

h2 {
	color: white;
	font-size: 2em;
}

main > div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

footer {
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
	width: 100%;
	font-size: 22px;
	color: #1F1F1F;
}


footer a {
	font-weight: bold;
	color: white;
}

footer a:hover{
	color: white;
}

ul {
  list-style-type: none;
  overflow: hidden;
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding: 10px;
	background-color: #1F1F1F;
}

li {
	display: inline;
}

li > a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li > a:hover {
  color: #c2c2c2;
}


img {
	width: 200px;
	height: auto;
  padding: 20px;
	-webkit-animation: move 10s infinite linear;
	animation: move 10s infinite linear;
}


@keyframes beat {
  0% {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
  100% {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
}

heart {
  display: inline-block;
  color: red;
  -webkit-animation: .8s infinite beat;
	animation: .8s infinite beat;
}

@media only screen and (max-width: 850px) {
	body {
		font-size: 14px;
	}

	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 1.5em;
	}

	footer {
		font-size: 18px;
	}
}

@media only screen and (max-width: 550px) {
	body {
		font-size: 14px;
	}

	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 22px;
	}

	footer {
		font-size: 14px;
	}
}
